#avatarImage {
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    width: 65%;
    float: right;
}

#avatar_option {
    height: 40px;
}